.red, button.red {
  background-color: rgb(255,87,34)
}

.transistionFillBackground{
  background-color: rgb(80,80,80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: background 1s ease-in-out;
}

body{
  background-color: rgb(80,80,80);
}

md-content{
  margin: 0 2% 0 2%;

}

.center{
  text-align: center;
}

.left{
}