@font-face {
    font-family:"Playball-Regular";
    src: url("../resources/fonts/Playball-Regular.ttf") /* TTF file for CSS3 browsers */
}

.red, button.red {
    background-color: rgb(255,87,34)
}

.transistionFillBackground{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:90vh;
    transition: background 1s ease-in-out;
}

.backgroundText{
    color: rgb(20,20,20);
    text-shadow: 4px 4px 2px rgba(200, 200, 200, 1);
}

.displayName{
    margin-bottom: -10;
}

.backgroundColor{
    background-color: rgb(180,180,180);
    opacity: 0.8;
    padding:10;
}

.loginBox{
    border-radius: 5px;
    max-height: 70vh;
    overflow: scroll;
}

.shadow{
    -webkit-box-shadow: 14px 10px 41px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 10px 41px -10px rgba(0,0,0,0.75);
    box-shadow: 14px 10px 41px -10px rgba(0,0,0,0.75);
}

.shadow-bottom{
    -webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 10px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 10px 5px 0px rgba(50, 50, 50, 0.75);
}


body{
    background-color: rgb(80,80,80);
    font-family: "Playball-Regular";
    font-size:3vh;
    font-weight: bold;
    width: 100vw;
    height: 100vh;
}

md-content{
    margin: 0 2% 0 2%;

}

.center{
    text-align: center;
}

.left{
}

.noOverflow{
    overflow: hidden;
}

.subState{
    overflow: scroll;
}

